.back_index{
    width: 25px;
    margin-top: 7px;
    margin-left: 30px;
}
.folk-title{
	padding-top: 30px;
	margin-bottom:30px;
	display: flex;
	flex-direction: column;
}
.folk-title span{
	font-size: 12px;
	color:#999;
}
.folk-title h1{
	margin-top: 5px;
	font-size: 16px;
}
.folk-container{
	background: #fff;
	padding: 0 3% 60px;
}
.folk-currency h1{
	font-size: 16px;
}
.folk-currency article span{
	margin-right: 5px;
}
.folk-currency article img{
	width: 20px;
}
.folk-currency article{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.folk-currency{
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.folk-box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}
.folk-moeny{
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	padding-bottom: 10px;
}
.folk-left span{
	margin-left: 3px;
	color:#999;
	font-size: 12px;
}
.folk-left h1{
	font-size: 16px;
}
.folk-right input{
	margin: 0 10px; 
	border:1px solid #ddd;
	width: 60px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.folk-right{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.folk-right span{
	color: #f0b90b;
	font-size: 26px;
}
.folk-tip{
	color:#999;
	margin-top:10px; 
}
.folk-btn{
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}
.folk-btn article{
	background: #f0b90b;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
}
.flok-cap input{
	border: 1px solid #ddd;
    padding: 10px 3%;
    color: #999;
    width: 100%;
}
.flok-sele span{
	padding: 7px 5px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 7px;
    border:1px solid #ddd;
}
.folk-active{
    background: #00c087;
    color: #fff;
}
.flok-sele{
	margin: 15px 0;
}
.flok-cap{
	margin: 10px 0;
}